# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: CopyFiles@2
  displayName: 'Copy Files to: $(System.DefaultWorkingDirectory)/_Derekholio.sr-bot/drop/res/discord.json'
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/_Derekholio.sr-bot/drop/res/discord.example.json'
    TargetFolder: '$(System.DefaultWorkingDirectory)/_Derekholio.sr-bot/drop/res/discord.json'
    
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
