[
    {
        "id":"DISCORD_SERVER_ID",
        "players": [
            {"SR":0,"player":"Player1#1111","private":false},
            {"SR":1844,"player":"Player2#2222","private":false},
            {"SR":2248,"player":"Player3#3333","private":false}
        ],
        "targetSR":YOUR_TARGET_SR
    }
]